<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Profile Info</title>
  <link rel="stylesheet" href="/staff/profile/style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="card">
    <div class="card__image">
         <div id="profile-picture"></div>
    </div>
    <div class="card__name">
        <p id ="name"><%= staff.name %></p>
    </div>
    <p><strong>E-Mail: </strong> <%= staff.email %></p>
    <p><strong>Designation: </strong> <%= staff.designation %></p>
    <p><strong>Phone-Number: </strong> <%= staff.phone_number %></p>
</div>
<!-- partial -->
<a href="#" class="logout" onclick="goBack()">Go Back</a>
<script>
    var nameElement = document.getElementById('name');
    var profilePictureElement = document.getElementById('profile-picture');

    var name = nameElement.textContent;
    var firstLetter = name.charAt(0);

    profilePictureElement.textContent = firstLetter;
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>