<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Message-Box</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/notice/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="fakemobilecontainer">
  
  <div class="notice-box notice-box-exclaim">   
    <span class="notice-box-icon"></span>   
    <div class="notice-box-text">
      <p class="notice-box-title"><strong>This bet will cost $10.00</strong></p>    
    </div>
  </div>
 
  
  
  <div class="notice-box notice-box-error">   
    <span class="notice-box-icon"></span>   
    <div class="notice-box-text">
      <p class="notice-box-title"><strong>This bet will cost $10.00</strong></p>    
      <p class="notice-box-subtitle">Bets cannot be cancelled once placed</p>
      <p class="notice-box-subsubtitle"> Please review the summary on this page before continuing.</p>
    </div>
  </div>

  <div class="notice-box notice-box-success">   
    <span class="notice-box-icon"></span>   
    <div class="notice-box-text">
      <p class="notice-box-title"><strong>This bet will cost $10.00</strong></p>    
      <p class="notice-box-subtitle">Bets cannot be cancelled once placed</p>
      <p class="notice-box-subsubtitle"> Please review the summary on this page before continuing.</p>
    </div>
  </div>
  
  <div class="notice-box notice-box-info">   
    <span class="notice-box-icon"></span>   
    <div class="notice-box-text">
      <p class="notice-box-title"><strong>This bet will cost $10.00</strong></p>    
      <p class="notice-box-subtitle">This subtitle is in bold.</p>
      <p class="notice-box-subsubtitle">This subtitle is the same size, but not in bold.</p>
    </div>
  </div>  
  
  <div class="notice-box notice-box-info borderless">   
    <span class="notice-box-icon"></span>   
    <div class="notice-box-text">
      <p class="notice-box-title"><strong>This bet will cost $10.00</strong></p>    
      <p class="notice-box-subtitle">This subtitle is in bold.</p>
      <p class="notice-box-subsubtitle">This subtitle is the same size, but not in bold.</p>
    </div>
  </div>    
   
</div>
<!-- partial -->
  
</body>
</html>
